//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

$gray-darker: #333 !default;
$gray-dark: #666 !default;
$gray: #ccc !default;
$gray-light: #e2e2e2 !default;
$gray-lighter: #eee !default;

$brand-primary: #00A650 !default;
$brand-accent: #000 !default;

$brand-event:   #EA98B5 !default;
$brand-agent:   #4E888A !default;
$brand-space:   #897768 !default;
$brand-project: #C3A837 !default;
$brand-opportunity: #BDA4B5 !default;
$brand-subsite:  #cc0033 !default;
$brand-seal: #cc0033 !default;
$brand-devs:    #174783 !default;

$brand-info: #40b4b4 !default;
$brand-warning: #cc9933 !default;
$brand-danger: #cc3333 !default;
$brand-success: #66cc66 !default;
$brand-draft: #0d9ecc !default;
$brand-default: $gray-light !default;

$green-dark: #003c46;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 16px text and 1.5 line-height (24px).

$border-radius-base: 10px !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
//** Load fonts from this directory.
$font-path:					'../fonts/' !default;
//** Font family name
$font-family-base:			'Montserrat' !default;